<!DOCTYPE html>
<html>
  <head>
    <title>Pillar Electric, LLC | Tempe, AZ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <%= link_to root_path do
        image_tag "PILLAR_ELECTRIC_BANNER.svg", class:'mx-auto d-block', width: "600"
      end %>
      <%= yield %>
    </div>
  </body>
</html>
